#timeLeftDiv{
    padding: 10px; 
    position: fixed; 
    z-index: 3000000; 
    bottom: 10px; 
    left: 1px; 
    width: auto; 
    background-color: rgb(94, 172, 26); 
    color: white;
}
#divSubmitTest{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#btnSubmitTest{
    font-size: 20px;
}
#pastExamination{
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 30px;
}
.logout-section{
    position: absolute;
    right: 50px;
}