#timeLeftDiv{
    padding: 10px;
    font-weight: bold;
}
#divSubmitTest{
    padding: 20px;
}
#btnSubmitTest{
    font-size: 20px;
    width: 220px;
}
#pastExamination{
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 30px;
}