body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #f6f8f9;
    background-repeat: no-repeat
}
 
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}
 
.card2 {
    margin: 0px 40px
}
 
 .logo {
    width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
}

 
.image {
    width: 360px;
    height: 280px
}
 
.border-line {
    border-right: 1px solid #EEEEEE
}
 
.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
 
 .twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
 
.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
 
 .line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}
 
.or {
    width: 10%;
    font-weight: bold
}
 
.text-sm {
    font-size: 14px !important
}
 
::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}
 
 :-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}
 
::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}
 
 input,
 textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}
 
 input:focus,
 textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}
 
 button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}
 
 a {
    color: inherit;
    cursor: pointer
}
 
 .btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}
 
.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}
 
.bg-blue {
    color: #fff;
    background-color: #1A237E
}
 
.login-component{
    color: #000;
}
.footer-component{
    width: 100%;
    bottom: 0px;
    position: fixed;
}
.main{
    padding-bottom:75px;
}
.header-component .navbar{
    background: #B0BEC5;
}
.header-component{
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #B0BEC5;
}

.header-component #navbarNav .navbar-nav{
    text-align: center;
}
.exam-dashboard-title{
    font-size: 32px;
    color: #465463;
    padding: 20px 0px;
    font-weight: normal;
}

.examlist-container{
    height: 40px;
    margin-bottom: 30px;
}

.examlist-container .tabs{ 
    height: 40px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 19%);
}
.tabs .live-tab{
    position: relative;
    float: left;
}
.tabs .previous-tab{
    float: left;
}
.tabs .tab{
    padding: 10px;
    margin-left: 0;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    color: #4c9cdf;
    margin-left: 10px;
    height: 40px;
}
.tabs .tab.active{
    background: #4c9cdf;
    border-bottom: 0;
    position: relative;
    padding: 10px;
    margin-left: 0;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}
.tab .dark{
    color: #46535e;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
}
.test-section{
    text-align: center;
    background-color: #A0BEC5;
    padding: 15px;
    box-shadow: 0px 0px 5px;
}
.start-button{
    text-align: center;
    background-color: #A0BEC5;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px;
}



/* Table  */
table{
    background: #fff;
}
table #thead{
    background: #1089ff;
}
table #thead th{
    border: none;
    padding: 20px 30px;
    font-size: 14px;
    color: #fff;
}
table #tbody{
    margin-bottom: 10px;
}
table #tbody td{
    border: none;
    padding: 20px 30px;
    border-bottom: 3px solid #f8f9fd;
    font-size: 14px;
}
table #tbody-pdf td{
    border: none;
    padding: 5px 30px;
    border-bottom: 3px solid #f8f9fd;
    font-size: 14px;
}
.align-center{
    text-align: center;
}
/* exam Creation */
.examCreation{
    padding-bottom: 100px;
    padding-top: 50px;
}
.examCreation form{
    max-width: 680px;
    padding: 57px 65px;
    padding-bottom: 65px;
    margin: 0 auto;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
}
.class-section select{
    outline: none;
    height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}
.file-attach{
    width: auto;
    margin-left: 35px;
}
.question-file{
    text-align:center;
}
.questionList{
    height: 100%;
    padding: 16px;
    width: 75%;
    position: relative;
    min-height: 77vh;
}
.questionList .questionDesc{
    font-weight: bold;
    border-bottom: 0.1px solid;
    padding-bottom: 6px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.questionList .questionSection{
    left: 0;
    right: 0;
    bottom: 50px;
    overflow-y: auto;
    top: 115px;
    font-size: 16px;
}
.questionList .questionSection tbody{
    overflow-y: auto;
    padding: 16px;
    font-size: 20px;
}
.questionList .questionSection .optionSection td{
    margin: 16px 0;
    list-style: none;
}
.questionList .optionSection table{
    padding-left: 5px;
}
.questionList .optionSection .optionDesc{
    padding-left: 24px!important;
    padding-top: 0;
}

.questionList input[type=radio]{
    width: 15px;
    height: 2rem;
}
.select-option{
    padding-bottom: 50px;
}
.exam-page{
    background: #fff;
    display: flex;
    min-height: 77vh;
}
.status-section{
    max-height: 400px;
    overflow: auto;
    width: 25%;
    background: #E5FFF2;
    position: relative;
    /* float: left; */
    /* width: 100%; */
    padding: 10px 0 8px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}
.status-section .states{
    height: 18px;
    margin: 2px 0 4px;
    padding: 4px 0 0;
    background-color: #f9f9f9;
    border: 1px solid #000;
    color: #000;
    width: 20px;
    display: inline-block;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1px;
    border-radius: 20px 20px 0 0!important;
}
.answered{
    background-color: green!important;
    color: #fff!important;
    border-color: green!important;
}
.not-visited{
    background-color: red!important;
    color: #fff!important;
    border-color: red!important;
}
.not-answered{
    background-color: #ffcccb!important;
    color: #000!important;
    border-color: #ffcccb!important;
}
.status-available{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.numbering{
    display: flex;
    justify-content: center;
}
.qnumbering{
    padding-left: 0px;
}
.status-section .marker{
    font-size: 15px;
    padding-left: 5px;
}
.status-section .qnumbering li{
    position: relative;
    border: 1px solid #000;
    font-size: 16px;
    text-align: center;
    color: #000;
    background-color: #f9f9f9;
    margin: 7px;
    float: left;
    cursor: pointer;
    width: 38px;
    padding: 4px 0;
    list-style: none;
}
.status-section .qnumbering li::marker{
    display: none;
}
.test-button{
    display: inline-block;
    margin-bottom: 0;
    min-width: 130px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: all .3s cubic-bezier(.165,.84,.44,1);
    -o-transition: all .3s cubic-bezier(.165,.84,.44,1);
    transition: all .3s cubic-bezier(.165,.84,.44,1);
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #1fbae8;
    border-color: #1fbae8;
}
.navigation-button{
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: 100%;
}
.button-next{
    margin-right: 30px;
}

/* animation css */
.animation-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .animation {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;  
    border: 4px solid #Fff;
    animation: animation 2s infinite ease;
  }

  .animation-loader .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes animation {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }


  .pdf-section{
      position: absolute;
      bottom:1500px
  }
  #saveAsPdf{
    position: absolute;
    right: 10px;
  }
  .pdf-button{
      text-align: center;
  }
@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }
 
    .image {
        width: 300px;
        height: 220px
    }
 
    .border-line {
        border-right: none
    }
 
    .login-component .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
    .exam-page{
        display: block;        
    }
    .exam-page .status-section{
        padding-bottom: 100px;
        width: 100%;
    }
    .exam-page .questionList{
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .header-component #navbarNav{
        display: block !important;
    }
    .header-component #navbarNav .navbar-nav{
        float: right;
    }
    
    .logout-section{
        padding-left: 25px ;
    }
    .main{
        padding: 0px 50px;
        padding-bottom: 75px;
    }
    .exam-page{
        margin: 0 -50px;
    }
    .float-left{
        float: left;        
    }
    .float-right{
        float: right;        
    }
    
}
